* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a:link {
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

a:hover {
    color: #1abc9c;
}

a:visited {
    color: inherit;
}

button {
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #107662;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: initial;
  font-weight: 600;
  user-select: none;
}

button:hover {
  background-color: #17a98c;
}

button:active {
  background-color: #17a98c;
  box-shadow: 0 2px #107662;
  transform: translateY(3px);
}

button:focus {
  outline:0;
}

button:disabled{
  background-color: #6a9f95;
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}

.container {
  width: 500px;
  margin: auto;
  padding-top: 50px;
}

.animal {
	width: 50px;
	height: 50px;
	display: inline-block;
	background-color: #eee;
	background-size: 40px 40px;
    background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px;
}

.animal-highlight {
	background-color: #f9f9f9;
	box-shadow: 0px 3px 0px #888;
	transform: translateY(-3px);
}

.dies {
	width: 145px;
	height: 60px;
	padding-top: 30px;
	padding-bottom: 20px;
    margin: auto;
}

.dies span{
	width: 60px;
	height: 60px;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 60px;
	line-height: 1;
	color: #333;
	text-align: center;
}

.controller {
	text-align: center;
}

.controller button {
  width: 100px;
  height: 40px;
}

.lane {
	padding-top: 3px;
	padding-bottom: 3px;
}

.footer {
	color: #888;
	position: absolute;
	bottom: 5px;
	width: 100%;
	text-align: center;
}